### 편의 시설 추출

accommodation 의 datail의 service를 파싱하여 편의시설 추출 여부 확인

In [3]:
import requests
import json
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import re

숙소 상세정보 정보 가져오기

In [4]:
acc_detail = pd.read_csv(f'../data/숙소상세정보.csv')
acc_detail.head()

,Unnamed: 0,id,category,name,score,region,ano,lat,lng,pic_url,address,pic_urls,detail
0,0,1,1,강남 더 뮤즈,9.8,강남구 역삼동,1824,37.502530,127.038275,https://image.goodchoice.kr/resize_1000X500x0/...,서울 강남구 역삼동 678-9,['https://image.goodchoice.kr/resize_490x348/a...,"<article class=""detail_info"">\n<!-- 기본 정보 -->\..."
1,1,2,1,역삼 호텔 디 아티스트,9.3,강남구 역삼동,5675,37.502415,127.038488,https://image.goodchoice.kr/resize_1000X500x0/...,서울 강남구 역삼동 678-13,['https://image.goodchoice.kr/resize_490x348/a...,"<article class=""detail_info"">\n<!-- 기본 정보 -->\..."
2,2,3,1,역삼 리치웰,9.3,강남구 역삼동,3805,37.502973,127.039823,https://image.goodchoice.kr/resize_1000X500x0/...,서울 강남구 역삼동 677-9,['https://image.goodchoice.kr/resize_490x348/a...,"<article class=""detail_info"">\n<!-- 기본 정보 -->\..."
3,3,4,1,강남 캠퍼스,9.3,강남구 역삼동,4988,37.497310,127.029190,https://image.goodchoice.kr/resize_1000X500x0/...,서울 강남구 역삼동 825-30,['https://image.goodchoice.kr/resize_490x348/a...,"<article class=""detail_info"">\n<!-- 기본 정보 -->\..."
4,4,5,1,역삼 인트로호텔,9.9,강남구 역삼동,72748,37.502754,127.039923,https://image.goodchoice.kr/resize_1000X500x0/...,서울 강남구 역삼동 677-14,['https://image.goodchoice.kr/resize_490x348/a...,"<article class=""detail_info"">\n<!-- 기본 정보 -->\..."

숙소 상세정보의 pic_urls의 데이터를 pic_list 로 따로 저장

In [11]:
convenience_list = []
#range(len(acc_detail))
# for idx in tqdm(range(2)):
cur = acc_detail.iloc[0]
detail = cur["detail"]
id = cur["id"]

# getitem = detail.select("")
print(detail)
print("do")

conveniences = []


convenience_list.append ({
        "accommodationId" : id,
        "convenience" : conveniences
    })

<article class="detail_info">
<!-- 기본 정보 -->
<h3 class="category" id="default_info_tab" type="h3"><span>기본 정보</span></h3>
<section class="default_info">
<!-- 사장님 한마디 & 추천이유 -->
<div class="comment_mobile">
<h3>사장님 한마디</h3>
                    * 골드글라스/브론즈글라스 객실  Couple Pc ＆ 배틀그라운드 가능 최고사양 그래픽카드!!<br/>
*전객실 오버워치급 게임가능 <br/>
* 최고사양 노하드 PC 오버워치, 배틀그라운드, 커플PC, UHD대형 TV 연결가능<br/>
* 3인이상 숙소에 문의후 입실가능합니다.<br/>
*호텔프론트 신분증 요청 확인시 미성년자 및 신분증과 상이한 경우 입실불가                </div>
<h3>혜택안내</h3>
<ul>
<li>객실문에 부착된 여기어때 혜택마크를 찾아 QR코드로 혜택받으세요.</li></ul>
<h3>주차장 정보</h3>
<ul>
<li></li><li>총 7대 주차시설 보유</li></ul>
<h3>지하철 정보</h3>
<ul>
<li>2호선 역삼역</li><li>9호선 언주역</li></ul>
<h3>객실내부 시설</h3>
<ul>
<li><li>* 전객실 오버워치급 가능</li><li>* 골드글라스/브론즈글라스 객실  Couple Pc ＆ 배틀그라운드 가능</li><li>* 최고사양 노하드 PC 오버워치, 배틀그라운드, 커플PC, UHD대형 TV 연결가능</li></li></ul>
<div class="map" id="google_maps"></div>
</section>
<!-- 요금 정보 -->
<h3 class="category" type="h3"><span>요금 정보</span></h3>
<section class="table_wrap">
<div class="price_top">
<div>
<span class="guest_01">비회원</span>
<span class="guest_02">회원</span>
<span class="guest_03">특별</span>
</div>
</div>
<!-- 앱이랑 똑같음 참고해 주세요 /api_v2/application/views/ads/price_time.php -->
<div class="normal_day">
<h3>대실 이용요금</h3><table class="table_type_02"><tr><th>객실 등급</th><th>일, 월, 화, 수, 목, 금, 토</th></tr><tr><td>랜덤객실</td><td><span>40,000</span></td></tr><tr><td>로이</td><td><span>40,000</span></td></tr><tr><td>아쿠아</td><td><span>40,000</span></td></tr><tr><td>에메랄드</td><td><span>40,000</span></td></tr><tr><td>미스트</td><td><span>40,000</span></td></tr><tr><td>샴페인골드</td><td><span>40,000</span></td></tr><tr><td>비앙코</td><td><span>50,000</span></td></tr><tr><td>다이아골드</td><td><span>50,000</span></td></tr><tr><td>골드글라스</td><td><span>70,000</span></td></tr><tr><td>브론즈글라스</td><td><span>70,000</span></td></tr><tr><td colspan="10" style="text-align:left">전객실 오버워치, 배그 가능</td></tr></table><h3>대실 이용시간</h3><table class="table_type_02"><tr><th>구분</th><th>일, 월, 화, 수, 목, 금, 토</th></tr><tr><td>이용시간</td><td><span>4시간 </span></td></tr><tr><td>마감시간</td><td><span>오후 10시 </span><span class="font_red">24시 </span></td></tr><tr><td colspan="10" style="text-align:left">전객실 오버워치, 배그 가능</td></tr></table> </div>
<div class="normal_day">
<h3>숙박 이용요금</h3><table class="table_type_02"><tr><th>객실 등급</th><th>일, 월, 화, 수, 목</th><th>금</th><th>토, 공휴일 전날</th></tr><tr><td>로이</td><td><span>70,000</span></td><td><span>120,000</span></td><td><span>150,000</span></td></tr><tr><td>아쿠아</td><td><span>80,000</span></td><td><span>130,000</span></td><td><span>160,000</span></td></tr><tr><td>에메랄드</td><td><span>80,000</span></td><td><span>130,000</span></td><td><span>160,000</span></td></tr><tr><td>미스트</td><td><span>80,000</span></td><td><span>130,000</span></td><td><span>160,000</span></td></tr><tr><td>샴페인골드</td><td><span>80,000</span></td><td><span>130,000</span></td><td><span>160,000</span></td></tr><tr><td>비앙코</td><td><span>100,000</span></td><td><span>150,000</span></td><td><span>180,000</span></td></tr><tr><td>다이아골드</td><td><span>90,000</span></td><td><span>140,000</span></td><td><span>170,000</span></td></tr><tr><td>골드글라스</td><td><span>150,000</span></td><td><span>200,000</span></td><td><span>200,000</span></td></tr><tr><td>브론즈글라스</td><td><span>150,000</span></td><td><span>200,000</span></td><td><span>200,000</span></td></tr></table><h3>숙박 이용시간</h3><table class="table_type_02"><tr><th>구분</th><th>일, 월, 화, 수, 목, 금, 토</th></tr><tr><td>입실</td><td><span>23시 </span></td></tr><tr><td>퇴실</td><td><span>정오 </span></td></tr><tr><td colspan="10" style="text-align:left">빠른입실 객실 입실시간 16시전객실 오버워치, 배그 가능</td></tr></table> </div>
</section>
<!-- 테마 -->
<h3 class="category theme_category" type="h3"><span>테마</span></h3>
<section class="theme">
<ul></ul>
</section>
<!-- 판매자 정보 -->
<h3 class="category" type="h3"><span>판매자 정보</span></h3>
<section class="seller_info">
<h3>상호</h3>
<ul>
<li>강남 더 뮤즈</li>
</ul>
<h3>대표자명</h3>
<ul>
<li>허진 </li>
</ul>
<h3>주소</h3>
<ul>
<li>서울시 강남구 테헤란로 33길 13-12</li>
</ul>
<h3>전화번호</h3>
<ul>
<li>050440114244</li>
</ul>
<h3>이메일</h3>
<ul>
<li>jinh2311@naver.com</li>
</ul>
<h3>사업자번호</h3>
<ul>
<li>1460400866</li>
</ul>
</section>
</article>
do

변경 값 저장

In [25]:
convenience_df = pd.DataFrame(convenience_list)
convenience_df.head

   accommodationId                                                url
0                0  https://image.goodchoice.kr/resize_490x348/adi...
1                0  https://image.goodchoice.kr/resize_490x348/adi...
2                0  https://image.goodchoice.kr/resize_490x348/adi...
3                0  https://image.goodchoice.kr/resize_490x348/adi...
4                0  https://image.goodchoice.kr/resize_490x348/adi...

가격정보 가격 결측치 수정

In [26]:
convenience_df.to_csv(f"../data/숙소사진.csv" ,encoding="utf-8")
convenience_df.head(3)

   accommodationId                                                url
0                0  https://image.goodchoice.kr/resize_490x348/adi...
1                0  https://image.goodchoice.kr/resize_490x348/adi...
2                0  https://image.goodchoice.kr/resize_490x348/adi...

사진 id 컬럼 추가

In [28]:
picture = pd.read_csv(f'../data/숙소사진.csv')
picture.head()

,Unnamed: 0,accommodationId,url
0,0,0,https://image.goodchoice.kr/resize_490x348/adi...
1,1,0,https://image.goodchoice.kr/resize_490x348/adi...
2,2,0,https://image.goodchoice.kr/resize_490x348/adi...
3,3,0,https://image.goodchoice.kr/resize_490x348/adi...
4,4,0,https://image.goodchoice.kr/resize_490x348/adi...

In [29]:
picture = picture.rename(columns={'Unnamed: 0' : "pictureId"})
picture.head()

,pictureId,accommodationId,url
0,0,0,https://image.goodchoice.kr/resize_490x348/adi...
1,1,0,https://image.goodchoice.kr/resize_490x348/adi...
2,2,0,https://image.goodchoice.kr/resize_490x348/adi...
3,3,0,https://image.goodchoice.kr/resize_490x348/adi...
4,4,0,https://image.goodchoice.kr/resize_490x348/adi...